# dependências
node_modules/
.pnp
.pnp.*

# Next.js
.next/
out/
next-env.d.ts

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# ambientes
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# arquivos de teste temporários
_test_*.xlsx
_gen_*.js
_*.xml
